<div class="group" ng-if="!$root.preloader">
  <h2>{{group.name}}</h2>

  <h4>{{group.description}}</h4>

  <button class="default" id="edit" ng-click="group.showAddGroup = !group.showAddGroup" ng-if="group.isAdmin">{{group.showAddGroup?"Отменить редактирование группы":"Редактировать группу"}}</button>
  <div class="form"  check-form="group.isSubmitted" on-validation-ok='editGroup' ng-if="group.showAddGroup">
    <table>
        <tr>
          <td>{{translate("groupName")}}:</td>
          <td>
            <input type="text" ng-model="group.name" placeholder="{{translate('groupNamePlaceholder')}}" validator is-required>
          </td>
        </tr>
        <tr>
          <td>{{translate("groupDescription")}}:</td>
          <td>
            <textarea ng-model="group.description" placeholder="{{translate('groupDescriptionPlaceholder')}}" validator is-required></textarea>
          </td>
        </tr>
      </table>
      <button class="default" ng-click="editGroupSubmit()" ng-disabled="!group.description || !group.name">
        
        <span ng-if="!group.preloader">Сохранить</span>
        <span ng-if="group.preloader" class="button-preloader"></span>
      </button>
    </div>
  <div class="groups-wrapper">
      <div class="action" ng-if="group.isAdmin">
        <input type="text" class="default" ng-model="group.userEmail" placeholder="Email участника">
        <button class="default" ng-click="addGroupUser()" ng-disabled="!group.userEmail.match('.+@.+')">Пригласить</button>
        <p class="error">{{group.addUserError}}</p>
      </div>
      <table class="default">
        <thead>
          <th>ID</th>
          <th>Имя</th>
          <th>Дата вступления</th>
          <th></th>
        </thead>
        <tbody>
          <tr ng-repeat="user in group.users" ui-sref="cabinet.user({id: user.userId})">
            <td>{{user.userId}}</td>
            <td>{{user.name}}</td>
            <td>{{dateFormat(user.created)}}</td>
            <td ng-click="prevent($event);" style="width: 40px;text-align: center;;">
              <i class="fa fa-times" ng-click="removeGroupUser(user.userId)" style="color: #f00;font-size: 20px;" ng-if="!group.preloader[user.userId] && user.userId!=group.groupOwnerId"></i>
              <span ng-if="group.preloader[user.userId]" class="button-preloader"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>