<div class="problems" ng-show="!$root.preloader">
  <button class="default" ui-sref="^.addProblem" ng-if="user.scope=='admin' || user.scope=='teacher'">{{translate('addProblem')}}</button>
  <table class="problems-table">
    <thead>
      <th>ID</th>
      <th>Название</th>
      <th>Сложность</th>
      <th>Автор</th>
    </thead>
    <tbody>
      <tr ng-repeat="problem in problems" ui-sref="cabinet.problem({id: problem.problemId})" ng-class="{'solved': problem.isSolved}">
        <td>{{problem.problemId}} <img src="assets/img/tick.png" width="13" height="13" alt="" ng-if="problem.isSolved"></td>
        <td>{{problem.name}}</td>
        <td><img src="assets/img/muscles.png" alt="" width="14" height="13" ng-repeat="el in nTimes(problem.difficulty)"></td>
        <td>{{problem.author}}</td>
      </tr>
    </tbody>
  </table>
  <div class="pagination" pagination length="pag.length" limit="pag.limit" skip="pag.skip" on-change="getSolutionsByProblemId" ng-if="problems.length && false"></div>
</div>