<div class="problems">
  <table class="problems-table">
    <thead>
      <th>ID</th>
      <th>Название</th>
      <th>Сложность</th>
      <th>Автор</th>
    </thead>
    <tbody>
      <tr ng-repeat="problem in problems" ui-sref="cabinet.problem({id: problem.id})">
        <td>{{problem.id}}</td>
        <td>{{problem.title}}</td>
        <td><img src="assets/img/muscles.png" alt="" width="14" height="13" ng-repeat="el in nTimes(problem.difficulty)"></td>
        <td>{{problem.author}}</td>
      </tr>
    </tbody>
  </table>
</div>