<div class="problem" ng-show="!$root.preloader">
  
  <button class="default" ui-sref="^.addProblem({id: solve.problemId})" ng-if="user.scope=='admin'">{{translate('editProblem')}}</button>
  <div class="limits">
    <p class="limit">Лимит времени: <span class="bold">{{problem.timeLimit/1000}} s.</span></p>
    <p class="limit">Лимит памяти: <span class="bold">{{floor(problem.memoryLimit/1024/1024)}} Mb.</span></p>
  </div>
  <h1>{{problem.name}}</h1>


  <div ng-bind-html="problem.description"></div>


  <div class="wrapper-problem">
    <div class="samples">
      <table>
        <tr ng-repeat="sample in problem.samples">
          <td>
            <p>
              {{sample.input}}
            </p>
          </td>
          <td>
            <p >
                {{sample.output}}
              </p>
          </td>
        </tr>
      </table>
  
    </div>
    <a ng-click="showAllSamples()" class="blue show-tests" ng-if="user.scope=='admin' && problem.samples.length<problem.allSamples.length">{{translate('showAllTests')}}</a>
    <div class="solve" ng-if="!$root.isGuest">
      <input type="file" ng-file-model="solve.sourceFile" style="margin-bottom: 10px;">
      <textarea placeholder="Исходный код программы вставить сюда" ng-model="solve.source"></textarea>
      
      <div class="processing">
        <button class="default" ng-click="submit()" ng-disabled="solve.isSubmitting">
          <span ng-if="!solve.isSubmitting">{{translate("submit")}}</span>
          <span ng-if="solve.isSubmitting" class="button-preloader"></span>
        </button>
        <p class="progress" ng-if="solve.isSubmitting">submiting....</p>
      </div>
    </div>
    <div class="solutions" ng-if="solutions.length">
      <table class="default">
        <thead>
          <th>{{translate('solutionId')}}</th>
          <th>{{translate('created')}}</th>
          <th>{{translate('lang')}}</th>
          <th>{{translate('status')}}</th>
        </thead>
        <tbody>
          <tr ng-repeat="solution in solutions" ui-sref="^.solution({id: solution.solutionId})" ng-class="{'green': solution.status=='ok', 'yellow': solution.status=='waiting', 'red': (solution.status!='ok'&&solution.status!='waiting')}">
            <td>{{solution.solutionId}}</td>
            <td>{{dateFormat(solution.created)}}</td>
            <td>{{translate(solution.lang)}}</td>
            <td>
              <span ng-if="solution.status!='waiting'">{{translate(solution.status)}}</span>
              <span ng-if="solution.status=='waiting'">
                <span ng-if="+solution.testPassed">{{translate('proceedOnTest') + " " + solution.testPassed+"/"+solution.testCount}}</span>
                <span ng-if="!+solution.testPassed">{{translate(solution.status)}}</span>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="pagination" pagination length="pag.length" limit="pag.limit" skip="pag.skip" on-change="getSolutionsByProblemId" ng-if="solutions.length"></div>
    </div>
  </div>
</div>