<div class="problem" ng-show="!$root.preloader">
  <h1>{{problem.title}}</h1>
  <button class="default" ui-sref="^.addProblem({id: solve.problemId})" ng-if="user.scope=='admin'">{{translate('editProblem')}}</button>
  <div ng-bind-html="problem.description"></div>


  <div class="wrapper-problem">
    <div class="samples">
      <table>
        <tr ng-repeat="sample in problem.samples">
          <td>
            <p>
              {{sample.input}}
            </p>
          </td>
          <td>
            <p >
                {{sample.output}}
              </p>
          </td>
        </tr>
      </table>

    </div>
    <a ng-click="showAllSamples()" class="blue show-tests">{{translate('showAllTests')}}</a>
    <div class="solve">
      <input type="file" ng-file-model="solve.sourceFile" style="margin-bottom: 10px;">
      <textarea placeholder="Исходный код программы вставить сюда" ng-model="solve.source"></textarea>
      
      <div class="processing">
        <button class="default" ng-click="submit()">
          <span ng-if="!solve.profileSubmitPreloader">{{translate("submit")}}</span>
          <span ng-if="solve.profileSubmitPreloader" class="button-preloader"></span>
        </button>
        <p class="progress">submiting....</p>
      </div>
    </div>
    <div class="solutions" ng-if="solutions.length">
      <table>
        <thead>
          <th>{{translate('solutionId')}}</th>
          <th>{{translate('created')}}</th>
          <th>{{translate('lang')}}</th>
          <th>{{translate('status')}}</th>
        </thead>
        <tbody>
          <tr ng-repeat="solution in solutions" ui-sref="^.solution({id: solution.solutionId})">
            <td>{{solution.solutionId}}</td>
            <td>{{dateFormat(solution.created)}}</td>
            <td>{{solution.lang}}</td>
            <td>{{solution.status}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>