<div class="profile">
  <h2>{{translate("profile")}}</h2>
  <div class="form"  check-form="user.isSubmitted" on-validation-ok='editProfile' >
    <table>
      <tr>
        <td>{{translate("name")}}:</td>
        <td>
          <input type="text" ng-model="user.name" is-required validator placeholder="{{translate('namePlaceholder')}}">
        </td>
      </tr>
      <tr>
        <td>{{translate("email")}}:</td>
        <td>
          <input type="text" ng-model="user.email" is-required validator="email" placeholder="{{translate('emailPlaceholder')}}">
        </td>
      </tr>
      <tr>
        <td>{{translate("password")}}:</td>
        <td>
          <input type="password" ng-model="user.password" is-required validator placeholder="{{translate('passwordPlaceholder')}}">
        </td>
      </tr>
      <tr>
        <td>{{translate("phone")}}:</td>
        <td>
          <input type="tel" ng-model="user.phone" is-required validator="phoneNumber" placeholder="{{translate('phonePlaceholder')}}">
        </td>
      </tr>
      <tr>
        <td>{{translate("birthday")}}:</td>
        <td>
          <input type="text" ng-model="user.date" ui-date="dateOptions" is-required validator placeholder="{{translate('birthdayPlaceholder')}}">
        </td>
      </tr>
    </table>
    <button ng-click="submitProfile()" class="default">
      <span ng-if="!user.profileSubmitPreloader">{{translate("save")}}</span>
      <span ng-if="user.profileSubmitPreloader" class="button-preloader"></span>
    </button>
  </div>
</div>