<div class="solutions" ng-show="!$root.preloader">
  <table ng-if="solutions.length" class="default">
    <thead>
      <th>{{translate('solutionId')}}</th>
      <!-- <th>{{translate('userName')}}</th> -->
      <th>{{translate('problemName')}}</th>
      <th>{{translate('created')}}</th>
      <th>{{translate('lang')}}</th>
      <th>{{translate('status')}}</th>
    </thead>
    <tbody>
      <tr ng-repeat="solution in solutions" ui-sref="^.solution({id: solution.solutionId})" ng-class="{'green': solution.status=='ok', 'yellow': solution.status=='waiting', 'red': (solution.status!='ok'&&solution.status!='waiting')}">
        <td>{{solution.solutionId}}</td>
        <!-- <td ng-click="prevent($event);" ui-sref="cabinet.problem({id: solution.problemId})">{{solution.userName}}</td> -->
        <td ng-click="prevent($event);" ui-sref="cabinet.problem({id: solution.problemId})">{{solution.problemName}}</td>
        <td>{{dateFormat(solution.created)}}</td>
        <td>{{translate(solution.lang)}}</td>
        <td>
          <span ng-if="solution.status!='waiting'">{{translate(solution.status)}}</span>
          <span ng-if="solution.status=='waiting'">
            <span ng-if="+solution.testPassed">{{translate('proceedOnTest') + " " + solution.testPassed+"/"+solution.testCount}}</span>
            <span ng-if="!+solution.testPassed">{{translate(solution.status)}}</span>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination" pagination length="pag.length" limit="pag.limit" skip="pag.skip" on-change="getMySolutions" ng-if="solutions.length"></div>
  <p ng-if="!solutions.length && !$root.preloader">{{translate('noSolutions')}} <a ui-sref="^.problems" class="blue">Перейти к списку задач</a></p>
</div>
