.cabinet.wrapper {
  padding-left: 0;
  // max-width: initial;
  a {
    text-decoration: none;
  }
  .left-menu {
    width: 130px;
    display: inline-block;
    vertical-align: top;
    ul {
      li {
        width: 100%;
        padding: 5px 10px;
        // border-bottom: 1px solid #000;
        a {
          &:hover {
            text-decoration: none;
          }
        }
        &:hover {
          background: #ddd;
          cursor: pointer;
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
  .cabinet-inner {
    background: #fff;
    margin-left: 20px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
    box-shadow: 0 2px 1px 0 rgba(0,0,0,.09);
    width: calc(~"100% - 150px");
    padding: 15px;
    min-height: calc(~"100vh - 200px");
  }
}


.problems {
  table.problems-table {
    thead {
      th {
        text-align: left;
      }
    }
    tbody {
      tr {
        td {
          border: 1px solid #787878;
          padding: 5px 10px;
          cursor: pointer;
        }
        &:nth-child(odd) {
          td {
            background: #cacaca;
            color: #000;
          }
        }
      }
    }
  }
}
.problem {
  p.title {
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
  }
  .wrapper-problem {
    width: 500px;
  }
  a.show-tests {
    margin-top: 5px;
    display: block;
  }
  .solve {
    margin-top: 30px;
    width: 100%;
    textarea {
      width: 100%;
      resize: none;
      height: 400px;
      outline: none;
      padding: 10px;
      color: red;
      background: #c5ffc7;
    }
  }
  .processing {
    button {
      display: inline-block;
    }
    p {
      display: inline-block;
      margin-left: 30px;
    }
  }
  .samples {
    width: 100%;
    margin-top: 30px;
    border: 1px solid #787878;
    table {
      tr {
        td {
          padding: 5px 10px ;
          vertical-align: top;
          border-bottom: 1px solid #787878;
          &:first-child {
            border-right: 1px solid #787878;
          }
        }
        &:last-child {
          td {
            border-bottom: none;
          }
        }
      }
    }
  }
}

.solutions {
  margin-top: 10px;
  
}

.solution {
  .source {
    width: 700px;
    // padding: 20px;
    // border: 1px solid #686868;
    // border-radius: 4px;
    margin-top: 10px;
    // white-space: pre-wrap;
    code {
      white-space: pre-wrap;
    }
  }

}
.admin {
  ul.links {
    margin-bottom: 10px;
    li {
      display: inline-block;
      margin-left: 20px;
      &.active {
        a {
          text-decoration: underline;
          font-weight: 600;
        }
      }
      a {
        font-size: 15px;
        font-weight: 400;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .add-news {
    .block {
      margin-top: 10px;
      position: relative;
      input {
        display: block;
      }
      textarea {
        margin-top: 10px;
        display: block;
        width: 300px;
        height: 200px;
      }
    }
    button {
      margin-top: 10px;
    }
  }
}