.cabinet.wrapper {
  padding-left: 0;
  // max-width: initial;
  a {
    text-decoration: none;
  }
  .left-menu {
    width: 130px;
    display: inline-block;
    vertical-align: top;
    ul {
      li {
        width: 100%;
        padding: 5px 10px;
        // border-bottom: 1px solid #000;
        &.active {
          background: #ffda86;
        }
        a {
          &:hover {
            text-decoration: none;
          }
        }
        &:hover {
          background: #ddd;
          cursor: pointer;
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
  .cabinet-inner {
    background: #fff;
    margin-left: 20px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
    box-shadow: 0 2px 1px 0 rgba(0,0,0,.09);
    width: calc(~"100% - 150px");
    padding: 15px;
    min-height: calc(~"100vh - 200px");
  }
}
.profile {
  .upload-photo {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
    height: 200px;
    border: 1px solid #9a9a9a;
    border-radius: 3px;
    background: #ffeadf;
    cursor: pointer;
    position: relative;
    .drop-on-me {
      text-align: center;
      font-size: 35px;
      width: 80px;
      height: 80px;
      line-height: 80px;
      color: #afafaf;
      margin: 0 auto;
      margin-top: 40px;
      background: #ebebeb;
      border: 2px dashed #afafaf;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      background: #fff;
    }
    p {
      margin-top: 10px;
      padding: 0 20px;
      line-height: 14px;
      text-align: center;
    }
  }
}
.groups {
  .groups-wrapper {
    margin-top: 10px;
  }
}
.group {
  table {
    margin-top: 10px;
  }
  h2 {
    font-size: 20px;
    font-weight: 600;
  }
  h4 {
    font-size: 16px;
    font-weight: 400;
    width: 400px;
  }
  .action {
    margin-top: 10px;
    input {
      margin-bottom: 10px;
      height: 36px;
      margin-right: 2px;
    }
  }
  button#edit {
    width: auto;
    margin-top: 20px;
  }
}
.user {
  table {
    width: 300px;
    margin-top: 30px;
    tr {
      td {
        &:first-child {
          font-weight: 600;
        }
      }
    }
  }
  .photo-wrapper {
    width: 140px;
    height: 150px;
    background: #eaeaea;
    margin-top: 20px;
    border: 1px solid #cecece;
    text-align: center;
    line-height: 180px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: #fff;
    }
    i#user {
      font-size: 80px;
    }
  }
}
.problems {
  table.problems-table {
    thead {
      th {
        text-align: left;
      }
    }
    tbody {
      tr {
        td {
          border: 1px solid #787878;
          padding: 5px 10px;
          cursor: pointer;
        }
        &:nth-child(odd) {
          td {
            background: #cacaca;
            color: #000;
          }
        }
        &.solved {
          td {
            background: #d0ffb8;
          }
        }
      }
    }
  }
}
.problem {
  .limits {
    margin: 20px 0;
    p.limit {
      font-size: 20px;
      font-weight: 400;

      span {
        font-weight: 600;
        font-size: 20px;
      }
    }
  }
  p.title {
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
  }
  .wrapper-problem {
    width: 500px;
  }
  a.show-tests {
    margin-top: 5px;
    display: block;
  }
  .solve {
    margin-top: 30px;
    width: 100%;
    textarea {
      width: 100%;
      resize: none;
      height: 400px;
      outline: none;
      padding: 10px;
      color: red;
      background: #c5ffc7;
    }
  }
  .processing {
    button {
      display: inline-block;
    }
    p {
      display: inline-block;
      margin-left: 30px;
    }
  }
  .samples {
    width: 100%;
    margin-top: 30px;
    border: 1px solid #787878;
    table {
      tr {
        td {
          padding: 5px 10px ;
          vertical-align: top;
          border-bottom: 1px solid #787878;
          &:first-child {
            border-right: 1px solid #787878;
          }
        }
        &:last-child {
          td {
            border-bottom: none;
          }
        }
      }
    }
  }
}

.solutions {
  margin-top: 10px;
  
}

.solution {
  .source {
    width: 100%;
    // padding: 20px;
    // border: 1px solid #686868;
    // border-radius: 4px;
    margin-top: 10px;
    // white-space: pre-wrap;
    code {
      white-space: pre-wrap;
      padding-left: 0;
    }
  }

}
.admin {
  ul.links {
    margin-bottom: 10px;
    li {
      display: inline-block;
      margin-left: 20px;
      &.active {
        a {
          text-decoration: underline;
          font-weight: 600;
        }
      }
      a {
        font-size: 15px;
        font-weight: 400;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .add-news {
    .block {
      margin-top: 10px;
      position: relative;
      input {
        display: block;
      }
      textarea {
        margin-top: 10px;
        display: block;
        width: 300px;
        height: 200px;
      }
    }
    button {
      margin-top: 10px;
    }
  }
}
.news {
  h1 {
    font-size: 24px;
  }
  .news-wrapper {
    .item {
      border-bottom: 2px solid #868686;
      padding: 10px 0;
      max-width: 400px;
      width: 100%;
      margin-top: 20px;
      h2 {
        font-size: 21px;
        margin-bottom: 10px;
      }
      h4 {
        font-size: 16px;
      }
      p.author {
        color: #424242;
        font-weight: 400;
        text-align: right;
      }
      &:first-child {
        border-top: 2px solid #868686;
      }
    }
  }
}