.wrapper {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  position: relative;
}
header.main-header {
  height: 60px;
  background: #c9dada;
  padding: 0 0px;
  position: relative;
  img#menu-img {
    display: none;
  }
  ul.links-mobile {
    display: none;
  }
  ul.links {
    position: absolute;
    right: 20px;
    top: 0;
    li {
      display: inline-block;
      margin-right: 40px;
      line-height: 60px;
      &:last-child {
        margin-right: 0;
      }
      a {
        text-shadow: none;
        cursor: pointer;
      }
    }
  }
}
footer.main-footer {
  height: 60px;
  background: #c9dada;
  width: 100%;
}
.main-container {
  padding: 40px 0px;
  min-height: calc(~"100vh - 120px");
  background: #edeef0;
}