@media (max-width: 768px){
  * {
    font-size: 18px;
  }
  input {
    width: 100%;
  }
  button, button.default {
    width: 100%;
  }
  .form {
    table {
      tr {
        td {
          display: block;
          width: 100%;
          padding: 0;
          &:first-child {
            padding-top: 10px;
          }
        }
      }
    }
  }
}